<!DOCTYPE html>
<html>

  <head>
    <title>Thermostat</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="./../src/jquery.js"></script>
    <script src="./../src/thermostat.js"></script>
    
  </head>

  <body>
    <section>

      <h2>thermostat temperature</h2>
      <h1><span id="temperature"></span> degrees celsius</h1>

      <p>
        <button class="button bouncy" id="temperature-up">+</button>
        <button id="temperature-down">-</button>
        <br>
        <button id="temperature-reset">reset</button>
        <br>
        <h2>power saving mode is <span id="power-saving-status">on</span></h2>
        <br>
        <button id="powersaving-on">PSM on</button>
        <button id="powersaving-off">PSM off</button>
        
        <h2>outside temperature: <span id="city-temperature"></span> degrees celsius</h2>
        
        <form id="select-city">
          <input id="current-city" type="text" placeholder="Enter a city"/>
          <button id="submit_button" type="submit">submit</button>
        </form>
      </p>

    </section>
    <script src="./../src/jqueryThermostat.js"></script>
  </body>
</html>
